*{
    margin: auto;
}
.login{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin-top: 10px;
    width: 20%;
    display: flex;
    margin-left: auto;
    margin-right: 20px;
}
.login p{
    margin: 15px;
}
.login i{
    margin: 15px;
}
.login button{
    color: white;
    border: none;
    width: 100%;
    background-color: #2192FF;
    border-radius: 5px;
    padding: 10px;
    margin: 7px;
}

.serch .div-img{
    /* width: 29%; */
    max-width: fit-content;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.serch .div-input{
    margin-top: 50px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    
}
.div-input{
    border: solid 0.5px;
    border-radius: 20px;
    height: 5vh;
    max-width:fit-content;
}
.div-input .fa-magnifying-glass{
    margin-right: 300px;
    padding: 10px;
}
.div-input .fa-microphone{
    padding: 10px;
    margin-left: 300px;
}
.serch-button{
    display: flex;
    margin-top: 20px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.serch-button button{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
    background-color: #F6F6F6;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    max-width: 100%;
    border: none;
}
.langu{
    margin-top: 30px;
    max-width: fit-content;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
footer{
    width: 100vw;
    position: fixed;
    bottom: 0;
}
.div-1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #E8EAE6;
    height: auto;     
    padding: 15px;
    border-bottom: solid 2px #AAAAAA;
}
.div-1 p{
    margin-left: 20px;
}
.div-2{
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #E8EAE6;
}
.div-2 .opt{
    max-width: 30%;
    display: flex;
    margin-left: 10px;
}
.div-2 p{
   width: fit-content;
}

@media only screen and (max-width:600px) {
    *{
        font-size:13px ;
    }
    .login{
        width:100vw;
       margin-left: 0;
    }
    .serch .div-img{
        max-width: fit-content;
    }
    .serch img{
        width: 50vw;
    }
    .div-input{
        max-width:fit-content;
        display: flex;
     }
     .div-input .fa-magnifying-glass{
        width: 50vw;
     }
     .div-input .fa-microphone{
        width: 50%;
        margin-left: 0px;
        margin-right: 300px;
     }
     .div-2 p{
        padding: 5px;
     }
  }